// _card.scss

.card-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.card {
    background-color: $secondary-background-color;
    border-radius: 8px;
    box-shadow: 0 4px 6px $box-shadow-color;
    overflow: hidden;
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-5px);
    }

    .card-content {
        padding: 1.5rem 1.5rem 1rem;
    }

    h2 {
        margin-top: 0;
    }

    .card-subtitle {
        color: $secondary-text-color;
        margin-top: -1rem;
    }

    .card-meta {
        color: $meta-text-color;
        font-size: 0.9rem;
    }
}