// _variables.scss

// Colors
$text-color: #333;
$secondary-text-color: #666;
$meta-text-color: #888;

$background-color: #f9f9f9;
$hover-color: #007bff;
$secondary-background-color: #fff;

$border-color: #eee;
$box-shadow-color: rgba(0, 0, 0, 0.1);

// Fonts
$font-family: 'Inter', sans-serif;
$base-font-size: 1rem;

// Layout
$content-width: 800px;
$content-padding: 3rem 2rem;
