.content-wrapper {
    flex: 1;
}

.work-hero-text, .about-content, .resources-content, .thoughts-content, .post-content {
    padding: 4rem 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.main-content {
    padding: 0 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: white;
    width: 100%;
    padding: 1.5rem;
    background-color: #f4f4f4;
    color: #333;
}

.post-list, .resource-list {
    list-style: none;
    padding: 0;
}

.post-list li, .resource-list li {
    margin-bottom: 1.5rem;
}

.post-list a, .resource-list a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.post-list a:hover, .resource-list a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.social-icons a {
    color: #333;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #007bff;
}

.resource-list .resource-description {
    color: #666;
    font-size: 1rem;
    margin-left: 1.5rem;
}
